@font-face {
  font-family: 'DIN-Bold';
  src: url('@/assets/font/D-DIN-Bold.otf');  //引入字体
}
@font-face {
  font-family: 'DIN';
  src: url('@/assets/font/D-DIN.otf');  //引入字体
}
@font-face {
  font-family: 'DINPro-Regular';
  src: url('@/assets/font/DIN-Pro-Regular-2.otf');  //引入字体
}
@font-face {
  font-family: 'DINCondensed-Bold';
  src: url('@/assets/font/DINCondensedBold.ttf');  //引入字体
}
@font-face {
  font-family: 'PangMenZhengDao-XiXian';
  src: url('@/assets/font/PangMenZhengDao-XiXian.ttf');  //引入字体
}
@font-face {
  font-family: 'Promethean';
  src: url('@/assets/font/promethean-1.ttf');  //引入字体
}
@font-face {
  font-family: 'SourceHanSansCN-Bold';
  src: url('@/assets/font/SourceHanSansCN-Bold.otf');  //引入字体
}


